.page_number {
  cursor: pointer;
}

.current_page {
  font-weight: bold;
}

.user_item {
  display: flex;
  margin-top: 20px;

  .user {
    padding-left: 15px;

    .avatar {
      display: block;
      width: 70px;
      height: auto;
    }

    .button {
      width: 70px;
      margin-top: 10px;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 10px;
      background: black;

      &:active,
      &:focus {
        outline: none;
      }

      &:hover {
        transition: .2s;
        color: #c75c5c;
        background: #4e4949;
      }

      &.disabled {
        transition: .2s;
        color: white;
        background-color: slategrey;
      }
    }
  }

  .user_description {
    display: flex;
    flex-grow: 1;
    margin: 0 25px;
    padding: 0 15px;
    border: 1px solid grey;
    border-radius: 15px;

    .name {
      flex-grow: 1;
    }

    .location {
      padding-top: 15px;
    }
  }
}











