.formControl {
  & input {
    border: 2px solid mediumslateblue;
  }

  & textarea {
    border: 2px solid mediumslateblue;
    resize: none;
    margin-right: 10px
  }

  &.error input,
  &.error textarea {
    border: solid red 2px;
  }

  &.error span {
    color: red;
  }
}

.errorMessage {
  margin: 10px;
  border: 2px solid red;
  color: red;
}