.header {
    height: 70px;
    margin: 0 0 15px 0;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.logo_img {
    height: 100%;
}

.login_block {
    align-self: center;
}
.login_block a {
    color: white;
    text-decoration: none;
}
.login_block a:hover {
    color: black;
}