.profile {
    font-size: 23px;

    display: flex;
}

.line {
    height: 2px;
    border: none;
    background-color: black;
}

.avatar {
    max-width: 300px;
    height: auto;
    margin: 15px;
}

.ava__img {
    display: block;
}

.description {
    width: 100%;
    margin: 15px;
}

.icon {
    font-size: 30px;
    padding-left: 20px;

    color: #3770ab;
}

.icon:hover {
    transition: .3s;
    color: #8735a9;
}

.icon__search {
    font-size: 25px;
    padding-left: 10px;

    color: yellowgreen;
}

.icon__stop {
    font-size: 25px;
    padding-left: 10px;

    color: grey;
}

.contacts {
    margin-top: 30px;
}
