
.container {
    max-width: 1200px;
    margin: 0 auto;

}
.container__inner {
    height: 100vh;
}

/* Main block ___________*/
.main__block {
    display: flex;
}
.nav {
    width: 20%;
}
.content {
    width: 80%;
    background-color: blanchedalmond;
}
