.title {
    font-size: 25px;
    color: cornflowerblue;
    margin-bottom: 15px;
    padding: 20px;
}

.dialogs__container {
    display: flex;
}

.dialogsNames {
    width: 15%;
}

.dialogs__content {
    width: 85%;
}

.chat {
    width: 95%;
}