.side__bar {
    background-color: cadetblue;
    margin-right: 15px;
    padding: 20px;

    height: 80vh;
}
.item {
    padding-bottom: 20px;
}
.item.active {
    padding-top: 25px;
}

.item a {
    color: white;
    text-decoration: none;
}

a.link {
    color: indigo;
}