.side__bar {
    background-color: cadetblue;
    margin-right: 15px;
    padding: 20px;
    height: 80vh;
    position: fixed;
    top: 85px;
    width: 185px;
}

.item {
    padding-bottom: 20px;
}

.item.active {
    padding-top: 25px;
}

.item a {
    color: white;
    text-decoration: none;
}

a.link {
    color: indigo;
}

.item.friends {
    color: white;
}

.friends__item {
    display: flex;
}

.friends__item div {
    padding: 0 5px;
    margin: 0 auto;
    text-align: center;
}

.friends__block img {
    width: 30px;
    height: 30px;
}


